@charset "UTF-8";
/* Paleta de cores
#D28829
#80A7BA
#161719
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    z-index: 99;
    background: transparent;
}
.header .nav a {
    text-decoration: none;
    color:white ;
    font-size: 17px;
    margin-left: 20px;
    font-weight: 600;
}
.header .procurar input {
    background: transparent;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid white;
    padding-left: 10px;
    right: 100px;
    outline: none;
    color: #161719;
}
.content {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 100px 0;
    background-image: url(../imagens/Black\ Circle\ Icon\ Business\ Logo.png);
    background-repeat: no-repeat;
    width: 450px;
    padding: 150px;
    position: relative;
    backdrop-filter: blur(20px);
}

.login {
    width: 450px;
    position: relative;
    padding: 100px 30px;
    backdrop-filter: blur(20px);
}
.login h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.login .input {
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}
.login .Entrar {
    display: flex;
    justify-content: center;
}
.login .Entrar a{
    text-decoration: none;
    color:white;
    font-weight: 700;
}
.login .Entrar p {
    color: white;
}
.Entrar a:hover {
    text-decoration: underline;
}
.header .procurar i {
    position: absolute;
    right: 110px;
    top: 22px;
    color: white;
}
.background {
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/pexels-wathegony-27591203.jpg);
    background-position: center;
    background-size: cover;
}
.inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    transform: translate(-50% , -50%);
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    border: none;
}
.check a {
    text-decoration:  none;
    color: white;
}
.check a:hover {
    text-decoration: underline;

}
.login .button {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}
button {
    width: 100%;
    height: 40px;
    background-color: crimson;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    color: white;
}
button:active {
    font-size: 25px;
}
.login .input .input1 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
    width: 100%;
    height: 100%;
}
::placeholder {
    color: white;
    font-size: 18px;
}
.login .input i {
    position: relative;
    right: -370px;
    bottom: 27px;
    color: white;
}
.check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    color: white;
}
@media screen and (max-width: 900px) {
    .content {
        display: none;
    }
    
}

